<div class="form-style-5">
  <form [formGroup] = "loginForm" (ngSubmit) = "$event.preventDefault(); submitForm()">
      <fieldset>
        <label for="job">Email address</label>
        <input type="text" name="id" formControlName="email" placeholder="Enter Email">
            <span style="color: red;" *ngIf="loginForm.get('email')!.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" >
                <small class="text-danger"
                *ngIf="loginForm.get('email')!.hasError('required')">
                    Required field</small>
            </span>
            <span style="color: red;" *ngIf="loginForm.get('email')!.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)" >
              <small class="text-danger"
              *ngIf="loginForm.get('email')!.hasError('email')">
                  Enter a valid email id</small>
            </span>

        <label for="job">Password</label>
        <input type="password" name="id" formControlName="password" placeholder="Enter Password">
            <span style="color: red;" *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" >
                <small class="text-danger"
                *ngIf="loginForm.get('password')!.hasError('required')">
                    Required field</small>
            </span>
            <span style="color: red;" *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" >
              <small class="text-danger"
              *ngIf="loginForm.get('password')!.hasError('maxlength')">
                  Exceeding the limit.</small>
            </span>
            <span style="color: red;" *ngIf="loginForm.get('password')!.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" >
              <small class="text-danger"
              *ngIf="loginForm.get('password')!.hasError('minlength')">
                  Minimum 8 characters required.</small>
            </span>
            <br>
            <button class="btn"  [disabled] = "!loginForm.valid" >Login</button>
      </fieldset>
  </form>
</div>







<!-- <div class="container">
    <form class="mt-5">
        <div class="form-group ">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control w-50" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">Required field.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control w-50" id="exampleInputPassword1" placeholder="Password">
        </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div> -->